@font-face {
  font-family: "CustomFont";
  src: url("../../../../assets/fonts/brown-sugar.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.nav .nav-megamenu {
  position: fixed;
  background: #fff;
  top: 4.75vw;
  overflow: hidden;
  display: none;
  justify-content: space-between;
  border: 1px solid #d6d6d6;

  padding: max(15px, 3vw);
  box-shadow: rgba(50, 50, 93, 0.1) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.15) 0px 3px 7px -3px;
  @media (max-width: 1475px) {
    box-shadow: rgba(50, 50, 93, 0.1) 0px 5px 10px -2px,
      rgba(0, 0, 0, 0.15) 0px 2px 5px -3px;
  }
  @media (max-width: 1250px) {
    top: 5vw;
  }

  .menu-links .inner-links {
    display: flex;
  }
  .rec-pagination {
    justify-content: flex-start;
    display: flex;
    padding-left: 1%;
    align-items: center;
  }
  .rec-dot {
    width: max(8px, 0.25vw) !important;
    height: max(8px, 0.25vw) !important;
    border-radius: 50% !important;
    margin: 0 !important;
    border: 0 !important;
    box-shadow: none !important;
    background: #bbb !important;
    margin: 0 max(3px, 0.2vw) !important;
  }
  .rec-dot_active {
    width: max(10.5px, 0.25vw) !important;
    height: max(10.5px, 0.25vw) !important;
    border-radius: 50% !important;
    border: 0 !important;
    box-shadow: none !important;
    background: #242424 !important;
    margin: 0 max(3px, 0.2vw) !important;
  }
}

//Our work mega menu
.nav .ourwork-megamenu {
  width: 100%;
  left: 0px;
  padding: max(15px, 1.5vw) max(15px, 3vw);
  .menu-links {
    width: 65%;
    .inner-links {
      gap: max(0.5rem, 8vw);
      padding: 2% 0%;
      h3 {
        color: #1d1d1d;
        font-family: CustomFont, sans-serif;
        font-size: max(16px, 0.85vw);
        margin-bottom: max(3px, 0.6vw);
        text-transform: uppercase;
      }
      li a {
        color: #1d1d1d !important;
        font-size: max(12px, 0.55vw);
        line-height: 30px;
      }
    }
  }
  .right {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    .models {
      display: flex;
      color: #1d1d1d;
      margin-left: 6px;
      align-items: self-start;
      h4 {
        font-size: max(14px, 0.75vw);

        font-family: "CustomFont", sans-serif;
      }
      a {
        color: #1d1d1d;

        font-size: max(6px, 0.65vw);
        margin-left: max(15px, 0.75vw);
      }
    }
    .slider {
      position: relative;
      padding: 6px 0px;
      .rec-arrow,
      .rec-arrow-left,
      .rec-arrow-right {
        position: absolute;
        z-index: 3;
        border: 1px solid;
        box-shadow: none !important;
        background: none !important;
        min-width: max(15.5px, 1.2vw) !important;
        max-width: max(15.5px, 1.2vw) !important;
        max-height: max(15.5px, 1.2vw) !important;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0 !important;
        color: #dcdcdc;
        top: min(0vw, -20.5px);
        font-size: 0;
      }
      .rec-arrow-left::before {
        content: "<";
        font-size: max(7.5px, 0.7vw);
        color: #7c7c7c;
      }
      .rec-arrow-right::before {
        content: ">";
        font-size: max(7.5px, 0.7vw);
        color: #7c7c7c;
      }

      .rec-arrow-right {
        right: 1.5%;
      }
      .rec-arrow-left {
        right: calc(1% + max(18px, 1.85vw));
      }
      .rec-slider-container {
        margin: 0 !important;
      }
      .slider-item {
        border: 1px solid #d7d7d7;
        margin-bottom: max(5px, 0.35vw);
        padding: 10px;
        width: 95%;
        &:hover {
          background: #252424;
          h3,
          li {
            color: #fff;
          }
        }
        a {
          position: relative;
          width: 100%;
          display: flex;
          flex-direction: column;
          color: #242424;
          .model-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-top: 10px;
            gap: 10px;

            h3 {
              font-family: "CustomFont", sans-serif;
              font-size: max(14px, 0.85vw);
            }
            .img {
              width: 100%;
              height: 180px;
            }
            .item {
              display: flex;
              color: #242424;
              gap: 14px;
              li {
                font-size: max(10px, 0.45vw);
              }
            }
          }
        }
      }
    }
  }
}
//About megamenu
.nav .about-megamenu {
  gap: max(0.5rem, 6vw);
  left: 488px;
  .inner-links {
    gap: max(0.5rem, 7vw);
    .main {
      // align-items: flex-start;
      // display: flex;
      // flex-direction: column;
      // position: relative;
      .icon-container {
        h3 {
          color: #1d1d1d;
          font-family: CustomFont, sans-serif;
          font-size: max(16px, 0.85vw);
          margin-bottom: max(3px, 0.6vw);
          text-transform: uppercase;
        }
      }
      li a {
        color: #1d1d1d !important;
        font-size: max(12px, 0.55vw);
        line-height: 30px;
      }
    }
  }
  .right {
    .image-item {
      margin-right: 150px;
      display: flex;
      height: 246px;
      .image {
        position: relative;
        height: 76%;
        background-color: #7c7c7c;
        background-image: url("../../../../assets/AboutUs/Image1.png");
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: row;
        text-align: left;
        padding: 12px;
        width: 161px;
        color: #ddd;
        .item-name {
          z-index: 2;
          font-size: max(14px, 0.55vw);
          font-family: "CustomFont", sans-serif;
          margin: 0;
          text-align: left;
        }
        .left-image {
          position: absolute;
          width: 220px;
          height: auto;
          margin-right: 10px;
          z-index: 2;
          left: 89px;
          top: 16px;
        }
      }
      .image::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(20, 20, 20, 0.5);
        z-index: 1;
      }
    }
    .button {
      cursor: pointer;
      background: #242424;
      border: 1px solid;
      padding: 12px 28px;
      border-radius: 5px;
      color: #fff;
      font-weight: 400;
      font-size: max(13px, 0.85vw);
      margin: 0px 65px;
    }
  }
}

@media (max-width: 1250px) {
  //About megamenu
  .nav .about-megamenu {
    left: 20%;
  }
  //Our work
  .nav .ourwork-megamenu .menu-links .inner-links {
    gap: max(0.5rem, 6vw);
  }
  .nav .ourwork-megamenu .right .models p {
    font-size: max(6px, 0.75vw);
  }
}
