.about-AboutUs {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 5%;
  width: 100%;
  p {
    line-height: 2.5;
    font-size: max(12px, 0.82vw);
    color: #4b4b4b;
    font-family: regularMont, sans-serif;
  }
  .left {
    width: 41%;
    padding: 6rem 4rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    h1 {
      font-size: max(25px, 5vw);
      font-family: "CustomFont", sans-serif;
      font-weight: 400;
    }

    .text {
      font-size: max(12px, 0.85vw);
      line-height: max(30px, 2.5vw);
    }
    .circleLink {
      align-items: center;
      display: flex;
      justify-content: flex-end;

      .circleText {
        .circle {
          width: 140px;
        }
      }
    }
  }

  .right {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    .rec-carousel-wrapper {
      height: 100%;
    }

    .rec-carousel {
      height: 100% !important;

      .rec-slider {
        height: 100%;
      }
    }

    .flex {
      width: 100%;
      display: flex;
      gap: max(0.5rem, 1vw);
      padding: max(2rem, 3.5vw);
      align-items: stretch;
      position: relative;

      .aboutCard {
        width: max(10rem, 25vw);
        height: max(10rem, 31vw);
        display: flex;
        flex-direction: column;
        gap: max(1rem, 1vw);
        padding: max(0.5rem, 1vw);
        background: #fff;
        border: 1px solid #d7d7d7;
        transition: 0.2s ease-out;
        position: relative;
        cursor: pointer;
        &:hover {
          transform: scale(1.1);
        }
        .model-item {
          align-items: center;
          display: flex;
          flex-direction: column;
          gap: max(0.5rem, 1vw);
          padding: 0px 55px;

          h3 {
            font-size: max(16px, 1vw);
            font-weight: 500;
            font-family: "CustomFont", sans-serif;
          }
          .row {
            align-items: center;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            width: 100%;

            span.dot {
              background-color: #4b4b4b;
              border-radius: 50%;
              height: 4px;
              width: 4px;
            }
          }
        }
      }

      .about1 {
        top: -5%;
        left: 10%;
        z-index: 3;
        &:hover {
          z-index: 4;
          background: #191919;
          color: #fff;
          border: none;
          p {
            color: #fff;
          }
          .model-item .row span.dot {
            background: #fff;
          }
        }
      }

      .about2 {
        top: 5%;
        left: -10%;
        z-index: 2;

        &:hover {
          z-index: 4;
          background: #191919;
          color: #fff;
          border: none;
          p {
            color: #fff;
          }
          .model-item .row span.dot {
            background: #fff;
          }
        }
      }
    }

    .img {
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      height: max(10rem, 20vw);
    }

    .rec-arrow,
    .rec-arrow-left,
    .rec-arrow-right {
      display: none;
    }

    .rec-pagination {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding-right: 62.5%;
      top: -59px;
      position: relative;
    }

    .rec-dot {
      width: max(8px, 0.25vw) !important;
      height: max(8px, 0.25vw) !important;
      border-radius: 50% !important;
      margin: 0 max(3px, 0.2vw) !important;
      border: 0 !important;
      box-shadow: none !important;
      background: #bbb !important;
    }

    .rec-dot_active {
      width: max(10.5px, 0.25vw) !important;
      height: max(10.5px, 0.25vw) !important;
      border-radius: 50% !important;
      border: 0 !important;
      box-shadow: none !important;
      background: #242424 !important;
    }
    a {
      position: absolute;
      z-index: 5;
      left: max(0.5rem, 1vw);
      top: max(0.25rem, 1vw);
    }
  }
}
@media (max-width: 1300px) {
  .about-AboutUs {
    align-items: center;
    flex-direction: column;
    gap: max(1rem, 2vw);
    position: relative;
    top: 56px;
    .left {
      align-items: center;
      padding: 0;
      text-align: center;
      width: 70%;
    }
    .right {
      height: max(25rem, 40vw);
      position: relative;
      //   top: 55px;
      .flex {
        padding: max(2rem, 0.5vw);
        .aboutCard .model-item {
          padding: 0;
        }
      }
      .rec-pagination {
        padding-right: 57.5%;
        top: -48px;
      }
    }
  }
}
@media (max-width: 900px) {
  .about-AboutUs {
    // padding: 10% 8%;
    gap: 0;

    .left {
      width: 100%;
      gap: max(0.5rem, 2vw);
    }

    .right {
      width: 100%;
      height: max(31rem, 45vw);
      .flex {
        justify-content: center;

        .aboutCard {
          display: flex;
          flex-direction: column;
          height: 100%;
          width: 100%;
          left: auto;
          top: auto;

          .img {
            width: 100%;
            flex-grow: 1;
            background-size: cover;
            background-position: center;
            height: auto;
          }
        }
      }
      .rec-pagination {
        top: -26px;

        padding: 0;
      }
      .circleLink .circleText .circle {
        top: -15px;
        left: 8px;
        width: 105px;
      }
    }
  }
}
@media (max-width: 700px) {
  .about-AboutUs {
    gap: max(0.5rem, 3vw);
    // padding: 20% 8%;
    .right {
      height: max(77rem, 43vw);

      .flex {
        flex-direction: column;
        padding: 0;
      }
      .img {
        height: max(26rem, 20vw);
      }
    }
  }
}
@media (max-width: 450px) {
  .about-AboutUs {
    // padding: 30% 8%;

    .right {
      height: max(45rem, 40vw);

      .img {
        height: max(12rem, 20vw);
      }
    }
  }
}
