.shared-styled-link1 {
  background-color: #1d1d1d;
  border-radius: max(3px, 0.3vw);
  cursor: pointer;
  overflow: hidden;
  padding: max(0.55rem, 0.5vw) max(0.5rem, 1.5vw);
  position: relative;
  transition: background-color 0.3s ease-in-out;
  span {
    color: #fff !important;
    font-size: max(13.5px, 0.9vw);
    position: relative;
    white-space: nowrap;
    z-index: 4;
  }
}
