.gallery-container {
  margin-top: 8%;
  padding: 0% 4%;
  .profile-models {
    display: grid;

    gap: max(1rem, 2vw);

    .profile-models-description {
      justify-content: center;
      display: grid;
      text-align: center;
      gap: max(1rem, 2vw);

      h1 {
        font-size: max(25px, 5vw);
        font-family: "CustomFont", sans-serif;
        font-weight: 400;
        text-transform: uppercase;
      }
      .profile-details {
        gap: max(1rem, 1vw);
        display: flex;
        p {
          line-height: 2.5;
          font-size: max(12px, 0.75vw);
          color: #1d1d1d;
          font-family: Montserrat;
        }
      }
      .social {
        display: flex;
        justify-content: center;
        gap: max(1rem, 3vw);

        a {
          color: #1d1d1d;
        }
      }
    }
    .gallery {
      -webkit-column-count: 3;
      -moz-column-count: 3;
      column-count: 3;
      -webkit-column-width: 33%;
      -moz-column-width: 33%;
      column-width: 33%;
      padding: 0 12px;

      .pics {
        display: flex;
        flex-wrap: wrap;
        &__item {
          position: relative;
          width: 100%;
          &:hover .resize-image {
            opacity: 1;
          }
          &:hover .model-image {
            background-color: #000000;
            -webkit-filter: brightness(30%);
            background-size: 20px 20px;
            filter: brightness(30%);
            transition: all 350ms ease;
          }
        }
      }

      .model-image {
        width: 100%;
        margin-bottom: 17px;
        cursor: pointer;
        position: relative;
        transition: filter 350ms ease, background-color 350ms ease;
      }
    }

    .resize-image {
      opacity: 0;
      position: absolute;
      bottom: 17px;
      right: 0;
      cursor: pointer;
    }

    .model {
      width: 100%;
      height: 100vh;
      position: fixed;
      top: 0;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba(0, 0, 0, 0.8);
      visibility: hidden;
      opacity: 0;
      transform: scale(0);
      transition: opacity 0.4s ease, visibility 0.4s ease,
        transform 0.5s ease-in-out;
      z-index: 999;
      overflow: auto;
      &.open {
        visibility: visible;
        opacity: 1;
        transform: scale(1);
        z-index: 11111;
      }

      .model_body {
        width: 67vw;
        height: 82vh;
        display: block;
        box-sizing: border-box;
        margin: 0 auto;
        position: relative;
        .img {
          width: 100%;
          height: 100%;
        }
        .close-icon {
          padding: 0.5vw 1vw;
          background-color: #fff;
          cursor: pointer;
          position: absolute;
          top: -45px;
          right: 55px;
          color: #1d1d1d;
          font-size: 22px;
          font-family: sans-serif;
          font-weight: 100;
        }

        .rec-pagination {
          display: none;
        }
        .PIJXl {
          font-family: sans-serif;
          font-weight: 100;
          background: #fff !important;
          border-radius: 0px;
          font-size: 22px;
          line-height: 0;
          height: 45px;
          min-width: 45px;
          position: relative;
        }
        .next {
          left: 20px;
          top: 50%;
        }
        .prev {
          right: 20px;
          top: 50%;
        }
        .PIJXl:hover:enabled,
        .PIJXl:focus:enabled {
          color: #000;
        }
      }
    }
  }
}
@media (max-width: 2950px) {
  .gallery-container .profile-models .model .model_body .close-icon {
    top: -92px;
    font-size: 45px;
  }
  .gallery-container .profile-models .profile-models-description .social a {
    font-size: 33px;
  }
}
@media (max-width: 2279px) {
  .gallery-container .profile-models .model .model_body .close-icon {
    top: -45px;
    font-size: 22px;
  }
  .gallery-container .profile-models .profile-models-description .social a {
    font-size: unset;
  }
}

@media (max-width: 991px) {
  .gallery-container {
    margin-top: 12%;
    .profile-models {
      .gallery {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
      }
      .profile-models-description .profile-details {
        justify-content: center;
        gap: max(0.5rem, 0.5vw);
        flex-wrap: wrap;
      }
      .model .model_body .close-icon {
        text-align: center;
        height: 39px;
        min-width: 45px;
        top: -48px;
        font-size: 30px;
      }
    }
  }
}
@media (max-width: 800px) {
  .gallery-container .profile-models .model {
    width: 100%;
    height: 100vh;
    .model_body {
      width: 88%;
      height: unset;
    }
  }
}
@media (max-width: 480px) {
  .gallery-container {
    margin-top: 20%;
    .profile-models {
      .gallery {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
        -webkit-column-width: 100%;
        -moz-column-width: 100%;
        column-width: 100%;
      }
      .model .model_body .prev {
        right: 0px;
      }
      .model .model_body .next {
        left: 0px;
      }
    }
  }
}
