@font-face {
  font-family: "CustomFont";
  src: url("../../../../assets/fonts/brown-sugar.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.mobile-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 77.5px;
  display: flex;
  z-index: 2000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 7.5% 10px;
  .mobile-logo-row a {
    display: flex;
    align-items: center;
    .mobile-logo-container {
      color: #ffffff;

      content: url("../../../../assets/NavBar/Logo-white.svg");
      height: 27.5px;
    }
    h1 {
      font-family: "CustomFont", sans-serif;
      margin-left: 10px;
      font-size: max(26px, 1.5vw);
      color: #ffffff;
    }
  }
  button {
    border: 0;
    background-color: transparent;
    font-size: 35px;
    cursor: pointer;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.toolbar__sticky,
.logo-black,
.white-nav .mobile-toolbar {
  background-color: white;
  transition: 0.2s ease;
  -webkit-transition: 0.2s ease;
  .mobile-logo-row a {
    .mobile-logo-container {
      content: url("../../../../assets/NavBar/Logo.svg");
    }
    h1 {
      color: #000000;
    }
  }

  button {
    color: #31335b;
  }
}
.logo-black .mobile-logo-container {
  content: url("../../../../assets/NavBar/Logo.svg") !important;
}
