@font-face {
  font-family: "CustomFont";
  src: url("../../../assets/fonts/brown-sugar.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.2vw 2.5% 0;
  .left-side {
    display: flex;
    align-items: center;
  }
}
.nav .nav-logo {
  display: flex;
  align-items: flex-start;
  color: #fff;
  .logo-container {
    align-items: center;
    gap: max(0.25rem, 0.5vw);
    color: white;
    content: url("../../../assets/NavBar/Logo-white.svg");
    height: max(21px, 1.8vw);
  }
  h1 {
    font-family: "CustomFont", sans-serif;
    line-height: 1.4;
    font-size: max(1.4rem, 0.7vw);
    margin-left: 8px;
    font-weight: lighter;
  }
}

.nav .nav-links {
  display: flex;
  align-items: center;
  gap: max(0.7rem, 1vw);
  .nav-link {
    position: relative;
    margin: 0 max(2.5px, 0.7vw);
    &:hover {
      .nav-megamenu {
        display: flex;
        padding-bottom: 25px;
      }
      .inner-nav-link svg {
        transform: rotate(-180deg);
        -webkit-transform: rotate(-180deg);
      }
      .megamenu-arrow {
        display: block;
      }
      .line {
        width: 90%;
      }
    }
  }
  .megamenu-arrow {
    position: absolute;
    color: #fff;
    font-size: 1.5vw;
    top: 3.8vw;
    right: 0.4vw;
    display: none;
    @media (max-width: 1200px) {
      top: 42.5px;
    }
  }

  .inner-nav-link {
    color: #fff;
    display: flex;
    align-items: center;
    padding: max(1.85vw, 20px) 0.5vw;
    font-size: max(12px, 0.75vw);
    position: relative;
    z-index: 2;
    svg {
      font-size: max(16px, 1.1vw);
      margin-left: max(2px, 0.15vw);
      transition: 0.15s ease-in-out;
      -webkit-transition: 0.15s ease-in-out;
    }
  }
}
.nav .nav-auth {
  display: flex;
  color: #fff;

  align-items: center;
  .apply-now {
    color: #fff;
    display: flex;
    align-items: center;
    padding: max(1.85vw, 20px) 2.5vw;
    font-size: max(12px, 0.75vw);
    position: relative;
    z-index: 2;
  }
  .contact-us {
    background: #fff;

    color: #111;
    padding: max(10.5px, 0.85vw) max(16px, 1.95vw);
    border-radius: max(20px, 1.3vw);
    font-size: max(12px, 0.85vw);
  }
}

.nav .mobile-nav {
  display: none;
}
@media (max-width: 1020px) {
  .nav {
    padding: 0;
    .nav-links,
    .left-side,
    .nav-auth {
      display: none;
    }
    .mobile-nav {
      display: block;
    }
  }
}

.nav__sticky {
  background: #fff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 5px 0px;
  color: #111;
  .menu-button,
  .nav-links .inner-nav-link,
  h1 {
    color: #111;
  }
  .nav-logo .logo-container {
    content: url("../../../assets/NavBar/Logo.svg");
  }
  .nav-auth .contact-us {
    background: #1d1d1d;
    color: #fff;
  }
  .apply-now {
    color: #111 !important;
  }
}
.logo-black .logo-container {
  content: url("../../../assets/NavBar/Logo.svg") !important;
}
body.dark-mode .nav__sticky {
  background: var(--dark-color);
  .menu-button,
  .nav-links .inner-nav-link {
    color: #fff;
  }
  .nav-logo .logo-container {
    content: url("../../../assets/shared/white-logo.svg");
  }
  .nav-auth .contact-us {
    border: 1px solid #fff;
    color: #fff;
  }
}
@media (max-width: 361px) {
  .footer-row {
    flex-direction: column;
  }
}
