.our_partners {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: max(2rem, 3.5vw);
  padding: 5%;
  .def-text {
    font-size: max(0.8rem, 0.8vw);
    line-height: max(32px, 2vw);
    color: #3e3e3e;
  }
  .logos-partner {
    height: max(27.5px, 3.2vw);
    overflow: hidden;
    position: relative;
    width: 100%;

    .inner-logos {
      animation: marquee 11s linear infinite;
      display: flex;
      align-items: center;
      width: 200%;
      position: absolute;
      overflow: hidden;

      .logo-container {
        padding: 0 max(20px, 2vw);
        .logo {
          height: max(25px, 3.2vw);
          width: auto;
          transition: 0.3s ease-in-out;
          -webkit-transition: 0.3s ease-in-out;
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
          width: max(8rem, 8vw);
        }
      }
    }
  }

  .styledLink {
    align-items: center;
    display: flex;
    justify-content: center;
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.our_partners .logos-partner:hover .inner-logos {
  animation-play-state: paused;
}
