.banner {
  background-image: url(../../../../assets/Home/home-page.jpg);
  align-items: stretch;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  padding: 15% 5%;
  position: relative;

  .bg {
    background-color: #000;
    opacity: 0.75;
  }
  .image-banner {
    left: -5%;
    opacity: 0.7;
    position: absolute;
    top: 16%;
    width: max(0rem, 24vw);
    z-index: 2;
  }
  .left {
    display: flex;
    flex-direction: column;
    gap: max(1rem, 3vw);
    justify-content: center;
    width: 60%;
    .text {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      color: #fff;
      font-family: "CustomFont", sans-serif;
      .big-title {
        font-weight: 400;
        font-size: max(80px, 0.875vw);
        position: absolute;
        z-index: 2;

        left: 8%;
        top: 39%;
        width: fit-content;
      }

      .big-title2 {
        font-weight: 400;
        font-size: max(80px, 0.875vw);
        left: 25%;
        top: 62%;
        position: absolute;
        width: fit-content;
      }
    }
  }
}
@media (max-width: 1100px) {
  .home-page .banner {
    padding: 135px 5% 100px;
    margin-bottom: 35px;
    background-attachment: unset !important;
  }

  @keyframes textclip {
    to {
      background-position: 200% center;
    }
  }
}
