.banner {
  background-image: url(../../../../assets/HireModel/Banner-Background.png);
  align-items: stretch;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  padding: 19.5% 5%;
  position: relative;

  .bg {
    background-color: #000;
    opacity: 0.75;
  }
  .image-banner {
    left: -3%;
    opacity: 0.7;
    position: absolute;
    top: 16%;
    width: max(0rem, 21vw);
    z-index: 2;
  }
  .left {
    display: flex;
    flex-direction: column;
    gap: max(1rem, 3vw);
    justify-content: center;
    width: 60%;
    .text {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      color: #fff;
      font-family: "CustomFont", sans-serif;
      h1 {
        font-weight: 400;
        font-size: max(74px, 0.875vw);
        position: absolute;
      }
      .big-title {
        z-index: 2;
        left: 10%;
        top: 34%;
        width: -moz-fit-content;
        width: fit-content;
      }

      .big-title2 {
        left: 26%;
        top: 52%;
        width: fit-content;
      }
    }
    .row {
      align-items: stretch;
      display: flex;
      gap: max(0.25rem, 1vw);
      position: absolute;
      top: 458px;
      left: 88px;

      .input {
        align-items: center;
        border: 1px solid #fff;
        display: flex;
        gap: max(0.25rem, 1vw);
        padding: max(0.25rem, 0.5vw) max(0.25rem, 1vw);
        input {
          background-color: transparent;
          border: none;
          color: #fff;
          height: max(2rem, 2vw);
          width: 100%;
        }
      }
    }
    .styledButton {
      align-items: center;
      background-color: transparent;
      border: 2px solid #fff;
      border: 2px solid var(--main-color);
      border-radius: 0;
      cursor: pointer;
      display: flex;
      justify-content: center;
      overflow: hidden;
      padding: max(0.35rem, 0.5vw) max(0.5rem, 2vw);
      position: relative;
      transition: 0.3s ease-in-out;
      position: relative;
      z-index: 3;
      p {
        color: #000 !important;
        position: relative;
        transition: 0.2s ease-in-out;
        white-space: nowrap;
        z-index: 4;
      }
    }
  }
}
@media (max-width: 1100px) {
  .home-page .banner {
    padding: 135px 5% 100px;
    margin-bottom: 35px;
    background-attachment: unset !important;
  }

  @keyframes textclip {
    to {
      background-position: 200% center;
    }
  }
}
