.home-marketing {
  align-items: stretch;
  display: flex;
  padding: 10% 5%;
  position: relative;
  gap: max(2rem, 8.5vw);

  .left {
    display: flex;
    flex-direction: column;
    gap: max(1rem, 3vw);
    justify-content: center;
    width: 50%;

    .marketing-title {
      font-size: max(25px, 5.2vw);
      font-family: "CustomFont", sans-serif;
      font-weight: 100;
      line-height: 0;
    }

    .marketing-text {
      font-size: max(12px, 0.1vw);
      line-height: 2.5;
      color: #3e3e3e;
    }

    .row {
      align-items: center;
      display: flex;
      gap: max(4rem, 5vw);

      .item {
        display: flex;
        flex-direction: column;
        gap: max(10px, 0.25vw);

        h1 {
          font-size: max(28px, 1.75vw);
          font-family: "CustomFont", sans-serif;
          color: #808080;
          letter-spacing: 0.5px;
          font-weight: 100;
        }
      }
    }
  }
  .right {
    .image-item {
      margin-right: 150px;
      display: flex;
      height: 323px;
      .circleLink {
        align-items: center;
        display: flex;
        height: max(3rem, 8vw);
        width: max(3rem, 9vw);
        justify-content: center;
        position: absolute;
        right: 35%;
        top: 14.5%;
        z-index: 5;

        img {
          width: 100%;
          height: auto;
        }
      }
      .image {
        position: relative;
        height: 100%;
        background-color: #7c7c7c;
        background-image: url("../../../../assets/ModelsMarketing/Image1.png");
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: row;
        text-align: left;
        padding: 12px;
        width: 278px;
        color: #ddd;

        .left-image {
          position: absolute;
          width: 370px;
          height: auto;
          margin-right: 10px;
          z-index: 2;
          left: 161px;
          top: 41px;
        }
      }
    }
    .tabs {
      align-items: stretch;
      background-color: #fff;
      border: 1px solid #cfcfcf;
      border-radius: max(10px, 3vw);
      display: flex;
      gap: max(2rem, 3.5vw);
      justify-content: space-between;
      padding: max(0.25rem, 0.8vw) max(1rem, 4vw);
      position: relative;
      z-index: 5;
      bottom: 30px;
      right: 101px;
      .tab {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        gap: max(5px, 0.25vw);

        svg {
          color: #808080;
          width: 17px;
        }
      }
    }
  }

  .marketing-textt {
    font-size: max(12px, 0.75vw);
    color: #3e3e3e;
  }
}

@media (max-width: 1260px) {
  .home-marketing {
    flex-direction: column;
    padding: 10% 10%;
    align-items: center;
    gap: max(2rem, 8.5vw);
    .left {
      width: 100%;
      justify-content: center;
      align-items: center;
      text-align: center;
    }

    .right {
      width: 100%;
      justify-content: center;
      align-items: center;
      display: grid;
      .circleLink {
        position: relative !important;
        left: 63px;
        top: -10% !important;
      }

      .tabs {
        position: static;
        gap: max(2rem, 6vw);
      }
    }
  }
}
@media (max-width: 850px) {
  .home-marketing {
    padding: 9% 10%;

    .right {
      .image-item {
        height: 245px;
        .image {
          width: 212px;
          .left-image {
            width: 295px;
            left: 117px;
            top: 27px;
          }
        }
      }
      .circleLink {
        left: 51px;
      }
    }
  }
}
@media (max-width: 650px) {
  .home-marketing {
    .left {
      .marketing-text {
        font-size: max(10px, 0.1vw);
      }
      .row {
        gap: max(2rem, 3vw);
        align-items: flex-start;
        .item h1 {
          font-size: max(20px, 0.75vw);
        }
      }
    }
    .right {
      .image-item {
        height: 210px;
        .image {
          width: 180px;
          .left-image {
            width: 255px;
            left: 100px;
            top: 22px;
          }
        }
      }
      .circleLink {
        left: 39px;
      }
    }

    .marketing-textt {
      font-size: max(10px, 0.1vw);
    }
  }
}
@media (max-width: 480px) {
  .home-marketing {
    .right {
      .image-item {
        height: 175px;
        .image {
          width: 150px;
          .left-image {
            width: 210px;
            left: 85px;
            top: 19px;
          }
        }
      }
    }
    .tabs {
      position: relative !important;
      left: 21px;
      top: 0px;
      width: 84%;
      .tab svg {
        width: 13px !important;
      }
    }

    .circleLink {
      left: 7%;
      top: 7%;
    }
    .marketing-textt {
      font-size: max(9px, 0.1vw);
    }
  }
}
