.home-our_work {
  display: flex;
  flex-direction: column;
  gap: max(2rem, 2vw);
  padding: 5%;
  .text {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: max(0.5rem, 2vw);
    text-align: center;
    .big-title {
      font-size: max(25px, 5.2vw);
      padding: 0% 5%;
      font-family: "CustomFont", sans-serif;
      font-weight: 100;
    }
    .blogCard {
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      gap: max(0.25rem, 1vw);
      margin: max(1.5rem, 2vw);
      position: relative;
      width: 100%;
      text-align: left;

      &:hover .styledLink {
        opacity: 1;
        padding: 0;
        -webkit-transform: scale(1);
        transform: scale(1);
      }

      .img {
        height: auto;
        width: 100%;
        transition: filter 0.3s ease;
      }

      &:hover .img {
        filter: brightness(60%);
      }

      p,
      .def-text {
        font-size: max(12px, 0.3vw);
        line-height: max(32px, 2vw);

        color: #3e3e3e;
      }

      h3 {
        font-size: max(16px, 1vw);
        line-height: max(32px, 2vw);
        font-weight: 100;
      }
      .styledLink {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: max(0.25rem, 0.5vw);
        color: #3e3e3e;
        bottom: -14px;
        left: 0;
        opacity: 0.5;
        padding: 0;
        position: absolute;
        -webkit-transform: scale(0);
        transform: scale(0);
        transition: 0.2s ease-out;

        .unstyled p {
          transition: 0.5s ease-in-out;
          white-space: nowrap;
          z-index: 2;
          font-size: max(12px, 0.3vw);

          color: #3e3e3e;
        }
        .icon {
          transition: 0.5s ease-in-out;
          z-index: 2;
          svg {
            font-size: max(24px, 0.9vw);
          }
        }
      }
    }
    .styledLink {
      align-items: center;
      display: flex;
      justify-content: center;
    }
  }

  .rec-pagination {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
  }

  .rec-dot_active {
    width: max(10.5px, 0.25vw) !important;
    height: max(10.5px, 0.25vw) !important;
    border-radius: 50% !important;
    border: 0 !important;
    box-shadow: none !important;
    background: #242424 !important;
  }

  .rec-dot {
    width: max(8px, 0.25vw);
    height: max(8px, 0.25vw);
    border-radius: 50% !important;
    margin: 0 max(3px, 0.2vw) !important;
    border: 0 !important;
    box-shadow: none !important;
    background: #bbb;
  }
  .rec-arrow-left,
  .rec-arrow-right {
    text-indent: -9999px;
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    position: absolute;
    transform: translateY(-50%);
    z-index: 10;
  }

  .rec-arrow-left {
    left: 36px;
    background-image: url("../../../../assets/Modeling/arrow/arrow-left.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: transparent;
  }

  .rec-arrow-right {
    right: 36px;
    background-image: url("../../../../assets/Modeling/arrow/arrow-right.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: transparent;
  }
  .PIJXl {
    border: none;
    box-shadow: none;
    background-color: #fff;
    min-width: 0px;
    line-height: 0px;

    &:hover {
      border: none;
      box-shadow: none;
      background-color: #fff;
    }
  }
  .eHxPRW {
    border: none !important;
    box-shadow: rgb(255, 255, 255) 0px 0px 0px 0px !important;
    &:hover:enabled,
    .eHxPRW:focus:enabled {
      background-color: transparent !important;
      border: none !important;
      box-shadow: none !important;
    }
  }
  .eHxPRW:focus:enabled {
    color: rgb(255, 255, 255);
    background-color: transparent !important;
    box-shadow: none !important;
  }
}
@media (max-width: 1100px) {
  .home-our_work {
    .rec-arrow-left {
      left: 20px;
    }
    .rec-arrow-right {
      right: 21px;
    }
  }
}
@media (max-width: 800px) {
  .home-our_work {
    .text .blogCard {
      .def-text {
        font-size: max(11px, 0.3vw);
        line-height: max(28px, 1vw);
        h3 {
          font-size: max(14px, 1vw);
        }
      }
    }
    .rec-arrow-left {
      left: 12px;
      height: 28px;
    }
    .rec-arrow-right {
      right: 12px;
      height: 28px;
    }
  }
}
@media (max-width: 600px) {
  .home-our_work {
    .text {
      gap: max(0.5rem, 7vw);
    }
    .PIJXl {
      display: none;
    }
  }
}
