.academy {
  background-image: url(../../../assets/Academy/Background.png);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 8.5% 5%;
  position: relative;
  .bg {
    background-color: #000;
    opacity: 0.45;
    z-index: 1;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
  .absolute {
    align-items: center;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 8%;
    position: absolute;
    text-align: center;
    top: 0;
    z-index: 2;
    h1 {
      color: #fff;
      font-size: max(25px, 7.5vw);
      opacity: 0.35;
      font-family: "CustomFont", sans-serif;
    }
  }
  .rec-carousel-wrapper {
    position: relative;
    z-index: 3;
    .academy-content {
      align-items: center;
      color: #fff;
      display: flex;
      flex-direction: column;
      gap: max(1rem, 2.5vw);
      justify-content: center;
      text-align: center;
      width: 65%;
      position: relative;
      bottom: 10px;

      svg {
        width: 257px;
        tspan {
          font-family: "CustomFont", sans-serif;
        }
      }
      p {
        font-size: max(11px, 0.78vw);
        line-height: max(32px, 2vw);
      }
      .styledLink {
        align-items: center;
        display: flex;
        justify-content: center;
        .shared-styled-link1 {
          background: #fff;
          span {
            color: #000 !important;
          }
        }
      }
    }
    .rec-pagination {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      position: relative;
      top: 7px;
    }

    .rec-dot_active {
      width: max(0.7rem, 0.7vw) !important;
      height: max(0.7rem, 0.7vw) !important;
      border-radius: 50% !important;
      border: 0 !important;
      box-shadow: none !important;
      background: white !important;
    }

    .rec-dot {
      width: max(0.5rem, 0.5vw);
      height: max(0.5rem, 0.5vw);
      border-radius: 50% !important;
      margin: 0 max(3px, 0.2vw) !important;
      border: 0 !important;
      box-shadow: none !important;
      background: #bbb;
    }
    .rec-arrow-left,
    .rec-arrow-right {
      text-indent: -9999px;
      display: inline-block;
      width: 40px;
      height: 40px;
      background-color: transparent;
      top: 50%;
      border: none;
      cursor: pointer;
      outline: none;
      position: absolute;
      transform: translateY(-50%);
      z-index: 10;
    }

    .rec-arrow-left {
      left: -36px;
      background-image: url("../../../assets/Modeling/arrow/arrow-left.svg");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      background-color: transparent;
    }

    .rec-arrow-right {
      right: -36px;
      background-image: url("../../../assets/Modeling/arrow/arrow-right.svg");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      background-color: transparent;
    }
    .PIJXl {
      border: none;
      box-shadow: none;
      background-color: #fff;
      min-width: 0px;
      line-height: 0px;

      &:hover {
        border: none;
        box-shadow: none;
        background-color: #fff;
      }
    }
    .eHxPRW {
      border: none !important;
      box-shadow: rgb(255, 255, 255) 0px 0px 0px 0px !important;
      &:hover:enabled,
      .eHxPRW:focus:enabled {
        background-color: transparent !important;
        border: none !important;
        box-shadow: none !important;
      }
    }
    .eHxPRW:focus:enabled {
      color: rgb(255, 255, 255);
      background-color: transparent !important;
      box-shadow: none !important;
    }
  }
}

@media (max-width: 1250px) {
  .academy {
    padding: 5%;
    .rec-arrow-left {
      left: -40px;
    }
    .rec-arrow-right {
      right: -40px;
    }
  }
}
@media (max-width: 800px) {
  .academy {
    .eHxPRW {
      background-color: transparent;
      box-shadow: none;
    }
    .eHxPRW:hover:enabled {
      background-color: transparent !important;
    }
    .bg {
      opacity: 0.65;
    }
    .rec-carousel-wrapper .academy-content {
      width: 90%;
    }
    .rec-arrow-left {
      height: 27px;
    }
    .rec-arrow-right {
      height: 27px;
    }
  }
}
@media (max-width: 650px) {
  .academy {
    .rec-carousel-wrapper {
      .academy-content svg {
        width: 190px;
      }
      .rec-arrow-left,
      .rec-arrow-right {
        display: none;
      }
    }
  }
}
